services:
  backend:
    build: .
    environment:
      DATABASE_HOST: taskmanagement
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: posgres
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: taskmanagement
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports: 
      - "5432:5432"
